<section class="container mt-5">
    <div class="card p-3">
        <div class="row p-4">
            <figure class="col-12 col-md-3">
                <img class="img-fluid rounded-circle me-3" [src]="myUser?.image" [alt]="myUser?.first_name">
            </figure>
            <div class="col-12 col-md-9 p-5 border-start border-primary border-4">
                <h2 class="fw-bold mb-2"> {{ myUser?.first_name }} {{myUser?.last_name}}</h2>
                <p>Username: <span class="fw-bold p-2">{{myUser?.username}}</span></p>
                <p>Email: <a [href]=" 'mailto:' + myUser?.email "> <span
                            class="fw-bold p-2">{{myUser?.email}}</span></a>
                </p>
                <button class="btn btn-danger mt-2 mx-2" (click)="deleteUser(myUser.id)"
                    [routerLink]="['/home']">Delete</button>
                <button class="btn btn-dark mt-2" [routerLink]="['/home']">Back to the list</button>
            </div>
        </div>
    </div>
</section>

<aside class="tabs my-5">
    <nav>
        <ul class="menu bg-primary">
            <li [ngClass]="{ 'activo': actualTab === 'aboutme' }" (click)="chargeTab('aboutme')">About me</li>
            <li [ngClass]="{ 'activo': actualTab === 'experience' }" (click)="chargeTab('experience')">
                Experience</li>
            <li [ngClass]="{ 'activo': actualTab === 'studies' }" (click)="chargeTab('studies')">Estudies</li>
        </ul>
    </nav>
    <section *ngIf="actualTab === 'aboutme'">
        <h3>About me</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta quae deleniti perferendis numquam sit
            blanditiis at. Nemo, molestiae? Possimus minus deserunt quaerat ex aliquid veniam incidunt ab obcaecati
            voluptas quo?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis dolorem, adipisci laboriosam exercitationem
            perferendis quod. Obcaecati dicta consequuntur incidunt pariatur similique illum ad officiis, et praesentium
            assumenda est, tempora asperiores.</p>
    </section>
    <section *ngIf="actualTab === 'experience'">
        <h3>Experience</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta quae deleniti perferendis numquam sit
            blanditiis at. Nemo, molestiae? Possimus minus deserunt quaerat ex aliquid veniam incidunt ab obcaecati
            voluptas quo?</p>
    </section>
    <section *ngIf="actualTab === 'studies'">
        <h3>Estudies</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta quae deleniti perferendis numquam sit
            blanditiis at. Nemo, molestiae? Possimus minus deserunt quaerat ex aliquid veniam incidunt ab obcaecati
            voluptas quo?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis dolorem, adipisci laboriosam exercitationem
            perferendis quod. Obcaecati dicta consequuntur incidunt pariatur similique illum ad officiis, et praesentium
            assumenda est, tempora asperiores.</p>
    </section>
</aside>